/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.workSchoolHobbyExperienceColor {
    background-color: #adadad;
    color: #292929;
}

.repeatingBackgroundImage {
    background-image: url("/img/background_stripes_darkblue.png");
    background-repeat: repeat;
}

.myFooter {
    flex-shrink: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.h-roboto-heavy-italic {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-weight: 900;
    font-style: italic;
}

.p-roboto-heavy {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-weight: 900;
}

.roboto-heavy-black {
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 900;
}

.roboto-normal-black {
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: normal;
}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #fff;
    height: 100%;
}

.minMax800x600 {
    min-width: 800px;
    min-height: 600px;
    max-width: 800px;
    max-height: 600px;
}

.whiteishBackground {
    background-color: #f3f3f3;
}

.blueMenuHeader {
    background-color: #1861ac;
    color: white;
}

.rootDiv {
    flex: 1 0 auto;
}

.nav-link {
    cursor: pointer
}

.bitBucketLink {
    max-width: 250px;
}

.rv-xy-plot__axis__tick__text {
    font-weight: bold;
    fill: #000;
}

.expYearsText {
    fill: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align:center;
}